.logo {
    text-align: center;
}

.a h1{
    text-align: center;
    font-family: Arial;
    font-size: xx-large;
}
.email {
    text-align: center;
    font-family: Arial;
}

.pass{
    text-align: center;
    font-family: Arial;
}

.line {
    text-align: center;
    font-family: arial;
    text
}
.button {
    text-align: center;
    font-family: arial;
}
.or {
    font-family: arial;
    text-align: center;
}
.image-button {
    text-align: center;
}

.already {
    text-align: center;
    font-family: arial;
}
.looking {
    text-align: center;
    font-family: arial;
}

.futter{
    font-family: arial;
    text-align: center;

}